*{
    padding: 0;
  margin: 0;
  box-sizing: border-box;

}

body {
    background-image: linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)), url(img/Diseño\ sin\ título.jpg);
   
}

h2 {
    color: black;
    text-align: center;
  }

  